<h1><%= @parent.name() %></h1>

<%= @parent.name() %>
   <% if @parent.students.any? %>
   <h3>Students Available for <%= @parent.name() %>:</h3>
   <ul>
     <% @parent.students.each() do |student| %>
     <a href="/student/<%= student.id%>">
       <li><%= student.name%></li>
     <% end %>
   </ul>
   <% else %>
   <p>No student belonging to this parent</p>
   <br>
   <% end %>

<button class="btn"<a href='/parents/<%= @parent.id() %>/edit'>Update Parent Details</a></button>
 </ul>

<li><a href='/'>Go Home</a></li>
