<h1><%= @parent.name() %></h1>

<% if @parent.students.any? %>
Select the child you want to track
<% @parent.students.each() do |student| %>

<table>
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th>Stream</th>
  </tr>
  <tr>
    <td>
      <a href="/student/<%= student.id%>">
        <p><%= student.name%></p>
      </td>
      <td><%= student.level%></td>
      <td><%= student.stream%></td>
    </tr>
  </table>
    <% end %>
<% else %>
<p>No student belonging to this parent</p>
<br>
<% end %>
