<h4>Name</h4>
<%= @student_details.name%>
<br>
<h4>Level</h4>
<%= @student_details.level%>
<br>
<h4>Stream</h4>
<%= @student_details.stream%>
<br>
<h4>Fee</h4>
<%= @student_details.fee%>
<br>
<h4>Dormitory</h4>
<%= @student_details.dormitory%>
<br>
<h4>Clubs</h4>
<%= @student_details.clubs%>
<br>
<br>

<h3>Assignments</h3>
<hr>

<%if @assignments.any?%>
    <ul>
        <% @assignments.each do |assignment|%>
            <a href="/students/<%= @student_details.id%>/assignment/<%= assignment.id%>"><%= assignment.subject%> || <%= assignment.content%></a>
        <%end%>
    </ul>
<%else%>
    <p>No assignments for your class at the moment</p>
<%end%>

<h3>Grades</h3>
<hr>
<% if @perfomances.any?%>
 <ul>
   <% @perfomances.each do |perfomance|%>
   <h3><%= @student_details.name%>'s perfomance</h3>
   <div class="table-responsive">
<table class="table">
 <thead>
   <tr>
     <th>Subject</th>
     <th>Cat 1</th>
     <th>cat 2</th>
     <th>Cat 3</th>
     <th>Total(%)</th>
     <th>Grade</th>
     <th>Position in subject</th>
     <th>Teacher's comments</th>
   </tr>
 </thead>
 <tbody>
   <tr>
     <td><%= perfomance.subject_name%></td>
     <td><%= perfomance.cat1%></td>
     <td><%= perfomance.cat2%></td>
     <td><%= perfomance.cat3%></td>
     <td><%= perfomance.total%></td>
     <td><%= perfomance.grade%></td>
     <td><%= perfomance.position%></td>
     <td><%= perfomance.comments%></td>
   </tr>
 </tbody>
</table>
</div>
</div>
    <% end %>
 </ul>
  <% else %>
  <p>No grades available</p>
  <% end %>
<button type="submit" name="button" class="btn-danger">Delete student</button>

<h4>Fee Information</h4>
  <p>Total Fees: <%= @student_details.fee %> </p>
  <% if @student_details.fees.any?() %>
  <% @student_details.fees.each() do |fee| %>
  <% if @student_details.fee == fee.amount_paid %>
    You have cleared your balance
  <% else %>
  <p>Amount Paid: <%= fee.amount_paid() %><p>
  <p>Balance:<%= @student_details.fee.to_i.-(fee.amount_paid) %> </p>
  <% end %>
  <% end %>
  <% else %>
    You have not began clearing your fees, Kindly check with the bursar as soon as possible
  <% end %>


<h3><%= @student_details.name%>'s Parents/gurdians</h3>

<% if @parent_details.any?%>
<% @parent_details.each do |parent|%>
<%= parent.name%>
<br>
<%= parent.phone%>
<br>
<%= parent.email%>
<br>
<%= parent.username%>
<br>
<%end%>
<%else%>
<p>no parent</p>
<%end%>
<form action="/parents" method="post">
  <h3>Add parent information for this student?</h3>
  <input type="hidden" name="id" id="id" value="<%= @student_details.id %>">
  <div class="form-group">
    <label for="name">Parent Name:</label>
    <input type="text" name="parent_name" id="parent_name" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="phone">Telephone:</label>
    <input type="text" name="phone" id="phone" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="email">Email Address:</label>
    <input type="email" name="email" id="email" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" class="form-control" required>
  </div>

  <button type="submit" class="btn">Add Parent</button>
</form>

<li><a href='/'>Home</a></li>
