<h4>Name</h4>
<%= @student_details.name%>
<br>
<h4>Level</h4>
<%= @student_details.level%>
<br>
<h4>Stream</h4>
<%= @student_details.stream%>
<br>
<h4>Fee</h4>
<%= @student_details.fee%>
<br>
<h4>Dormitory</h4>
<%= @student_details.dormitory%>
<br>
<h4>Clubs</h4>
<%= @student_details.clubs%>
<br>
<br>

<h3>Assignments</h3>
<hr>
<!-- <button type="button">Check Assignments</button><br> -->
<%if @assignments.any?%>
    <ul>
        <% @assignments.each do |assignment|%>
            <a href="/students/<%= @student_details.id%>/assignment/<%= assignment.id%>"><%= assignment.subject%>|<%= assignment.content%></a>
        <%end%>
    </ul>
<%else%>
    <p>No assignments for your class at the moment</p>
<%end%>
<button type="submit" name="button" class="btn-danger">Delete student</button>

<h3><%= @student_details.name%>'s Parents/gurdians</h3>

<% if @parent_details.any?%>
<% @parent_details.each do |parent|%>
<%= parent.name%>
<br>
<%= parent.phone%>
<br>
<%= parent.email%>
<br>
<%= parent.username%>
<br>
<%end%>
<%else%>
<p>No parent</p>
<%end%>
