<h4>Name</h4>
<%= @student_details.name%>
<br>
<h4>Level</h4>
<%= @student_details.level%>
<br>
<h4>Stream</h4>
<%= @student_details.stream%>
<br>
<h4>Fee</h4>
<%= @student_details.fee%>
<br>
<h4>Dormitory</h4>
<%= @student_details.dormitory%>
<br>
<h4>Clubs</h4>
<%= @student_details.clubs%>
<br>
<br>

<h3>Assignments</h3>
<hr>

<%if @assignments.any?%>
    <ul>
        <% @assignments.each do |assignment|%>
            <a href="/students/<%= @student_details.id%>/assignment/<%= assignment.id%>"><%= assignment.subject%> || <%= assignment.content%></a>
        <%end%>
    </ul>
<%else%>
    <p>No assignments for your class at the moment</p>
<%end%>

<h3>Grades</h3>
<hr>
<% if @perfomances.any?%>
 <ul>
   <% @perfomances.each do |perfomance|%>
   <h3><%= @student_details.name%>'s perfomance</h3>
   <div class="table-responsive">
<table class="table">
 <thead>
   <tr>
     <th>Subject</th>
     <th>Cat 1</th>
     <th>cat 2</th>
     <th>Cat 3</th>
     <th>Total(%)</th>
     <th>Grade</th>
     <th>Position in subject</th>
     <th>Teacher's comments</th>
   </tr>
 </thead>
 <tbody>
   <tr>
     <td><%= perfomance.subject_name%></td>
     <td><%= perfomance.cat1%></td>
     <td><%= perfomance.cat2%></td>
     <td><%= perfomance.cat3%></td>
     <td><%= perfomance.total%></td>
     <td><%= perfomance.grade%></td>
     <td><%= perfomance.position%></td>
     <td><%= perfomance.comments%></td>
   </tr>
 </tbody>
</table>
</div>
</div>
    <% end %>
 </ul>
  <% else %>
  <p>No grades available</p>
  <% end %>

<li><a href='/'>Home</a></li>
